{% extends 'layouts/index.html' %}
{% load static %}


{% block content %}

<!-- blog -->
<div class="blog" id="blog">
    <div class="container">
        <div class="default-heading">
            <!-- heading -->
            <h2>Posts ({{ posts.count }})</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!-- blog entry -->
                <div class="entry">
                    <!-- blog entry image -->
                    <img class="img-responsive" src="{% static 'img/blog/1.jpg' %}" alt="Blog" />
                    <!-- heading / blog post title -->
                    <h3><a href="#">Communicating with you every step of the way</a></h3>
                    <!-- blog information -->
                    <span class="meta">
                        July 02, 2014 | Tag: Technology | By: David John
                    </span>
                    <!-- paragraph -->
                    <p>We combine continuing education and constant monitoring us with your project details if you are
                        interested to ge of industry trends and innovations to provide the right IT solution at the
                        right time. Contact us with your project details if you are interested to get our Web Solution
                        or Software Development Services.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- blog entry -->
                <div class="entry">
                    <!-- blog entry image -->
                    <img class="img-responsive" src="{% static 'img/blog/2.jpg' %}" alt="Blog" />
                    <!-- heading / blog post title -->
                    <h3><a href="#">Communicating with you every step of the way</a></h3>
                    <!-- blog information -->
                    <span class="meta">
                        July 02, 2014 | Tag: Technology | By: David John
                    </span>
                    <!-- paragraph -->
                    <p>We combine continuing education and constant monitoring us with your project details if you are
                        interested to ge of industry trends and innovations to provide the right IT solution at the
                        right time. Contact us with your project details if you are interested to get our Web Solution
                        or Software Development Services.</p>
                </div>
            </div>
            {% for post in posts %}
                <div class="col-md-6 col-sm-6">
                    <!-- blog entry -->
                    <div class="entry">
                        <!-- blog entry image -->
                        <img class="img-responsive" src="https://picsum.photos/id/{{ post.id }}/800/300" alt="Blog" />
                        <!-- heading / blog post title -->
                        <h3><a href="#">{{post.title}}</a></h3>
                        <!-- blog information -->
                        <span class="meta">
                            {{ post.published }} | Tag: {{ post.category.name }} | By: {{ post.author.username }}
                        </span>
                        <!-- paragraph -->
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-default">See More</a>
            {% if user.is_authenticated %}
            <a href="{% url 'posts.create' %}" class="btn btn-primary">Crear Post</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- blog end -->

{% endblock %}